nav {
  background: #f0ece3;
}

body {
  background-color: #dfd3c3;
  position: relative;
  min-height: 100vh;
}

footer {
  background-color: #c7b198;
  bottom: 0;
  width: 100%;
  position: absolute;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}
